.stack-work/
dist*/
node_modules/
*~
*.exe
*.a
*.so
*.wasm
electron/node_modules
electron/static
gui/build*
stub/
CMakeLists.txt.user
stack.yaml.lock
gui/brassica-web/dist/*.js
gui/brassica-web/dist/examples/
