.cm-s-default .cm-special {color: #00f;}
.cm-s-default .cm-separator {color: #000000; font-weight: bold;}
.cm-s-default .cm-category {background-color: #f5f5dc;}
.cm-s-default .cm-comment {color: #008000; font-style: italic;}
